/* Font Import */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  outline: none;
  overflow: hidden;
}

/* Styling */
body {
  height: 100vh;
  width: 100%;
  background-color: #a4b0be;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.wrapper .box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 670px;
  width: 450px;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.15);
  -moz-box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.15);
  box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.15);
}

.wrapper .box .productImage {
  height: 60%;
  width: 100%;
  background: #ced6e0;
  background-image: url('../img/jetblack.png');
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: center;
}

.wrapper .box .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 40%;
  width: 100%;
}

.wrapper .box .info h1 {
  font-weight: 900;
  font-size: 2em;
  margin-top: 20px;
  margin-left: 25px;
}

.wrapper .box .info p {
  font-weight: 400;
  font-size: 0.9em;
  margin-top: 8px;
  margin-left: 25px;
}

/* Swatch container */
.wrapper .box .info .swatches {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 18px;
  margin-left: 25px;
}

/* Swatches */
.wrapper .box .info .swatches .jetblack {
  height: 25px;
  width: 25px;
  background-color: #0a0a0a;
  border-radius: 50%;
  margin-right: 10px;
  transition: all 0.1s ease;
  cursor: pointer;
}

.wrapper .box .info .swatches .black {
  height: 25px;
  width: 25px;
  background-color: #3b3b3b;
  border-radius: 50%;
  margin-right: 10px;
  transition: all 0.1s ease;
  cursor: pointer;
}

.wrapper .box .info .swatches .silver {
  height: 25px;
  width: 25px;
  background-color: #e3e4e6;
  border-radius: 50%;
  margin-right: 10px;
  transition: all 0.1s ease;
  cursor: pointer;
}

.wrapper .box .info .swatches .rosegold {
  height: 25px;
  width: 25px;
  background-color: #f7d0cb;
  border-radius: 50%;
  margin-right: 10px;
  transition: all 0.1s ease;
  cursor: pointer;
}

.wrapper .box .info .swatches .gold {
  height: 25px;
  width: 25px;
  background-color: #DFBB4F;
  border-radius: 50%;
  transition: all 0.1s ease;
  cursor: pointer;
}

.wrapper .box .info h3 {
  font-weight: 700;
  margin-top: 10px;
  margin-left: 25px;
}

.wrapper .box .info h3 span {
  font-weight: 300;
  font-size: 0.95em;
  text-decoration: line-through;
}

.wrapper .box .info button {
  height: 60px;
  width: 250px;
  font-weight: 700;
  font-size: 1em;
  color: #2ed573;
  background: none;
  border: 2px solid #2ed573;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 25px;
  transition: all 0.25s ease;
  cursor: pointer;
}

.wrapper .box .info button:hover {
  color: #fff;
  background: #2ed573;
}

/* Styling that's added when one of the swatches is clicked on */
.wrapper .box .info .swatches .active {
  transform: scale(0.95);
  border: 2px solid #2ed573;
  border-radius: 50%;
}
